
* {
    padding:0px;
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #5b4f47;
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    width: 30%;
}

.logo img {
    width: 150px; 
}

nav {
    display:flex;
    justify-content:space-evenly;
    width: 70%;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.iconoEvento{
    width: 50px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./resources/t.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.events{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 30px;
    gap: 20px;
}
.cardEvent{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    width: 40%;
    min-width: 250px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f8f7f4e7;
    color: #5b4f47;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}



.cardEvent img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.cardEvent:hover{
    background-color: #5b4f47;
    color: white;
    transition: 0.5s;
    scale: 1.1;
    background: linear-gradient(135deg, #5b4f47a7, #ddc1a7b1);
}


button{
    background-color: #5b4f47;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    border-style: none;
}

button:hover{
    background-color: white;
    color: #5b4f47;
    transition: 0.5s;
}


#logosFooter img {
    width: 50px;

}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ddc1a7;
}

