
* {
    padding:0px;
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #5b4f47;
    color: white;
    height: 10vh;
}

.logo{
    display: flex;
    justify-content: center;
    width: 30%;
}

.logo img {
    width: 9rem;
    height: 5rem;
}

nav {
    display:flex;
    justify-content:space-evenly;
    width: 70%;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header a:hover{
    color: #ddc1a7; 
    margin-top: -5px;
}

.burger {
    width: 35px;
    display: none;
}

@media (max-width: 768px) {
    .burger {
        display: block;
        position: absolute;
        right: 20px;
        color: white;
        width: 2rem;
        height: 2rem;
    }

    #nav {
        position: fixed;
        right: -800px;
        flex-direction: column;
        top: 80px;
        transition: all 0.5s;
        gap: 30px;
        padding: 50px;
        border-radius: 10px;
        z-index: 5;
    }

    #nav.activo {
        right: 0;
        background-color: #5b4f47;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5b4f47;
        color: white;
        height: 10vh;
        padding: 0 20px;
        
    }

    header a:hover{
        transform: scale(1.1);
        text-decoration: underline;
        margin: 0;
    }

    .logo {
        width: auto;
        margin-top: -10px;
    }
}

.iconoEvento{
    width: 50px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./resources/t.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.events{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    padding: 30px;
    gap: 20px;
}
.cardEvent{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    width: 40%;
    min-width: 250px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f8f7f455;
    color: #f3eae4;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.223);
}

.cardEvent img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cardEvent:hover{
    background-color: #5b4f47;
    color: white;
    transition: 0.5s;
    scale: 1.1;
    background: linear-gradient(135deg, #5b4f47a7, #ddc1a7b1);
}

button{
    background-color: #5b4f47;
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    border-style: none;
    text-transform: uppercase;
    font-weight: bolder;
}

button:hover{
    background-color: white;
    color: #5b4f47;
    transition: 0.5s;
    font-weight: 700;

}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ddc1a7;
}

.mensajeinfo{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
}

#mensaje1, #mensaje2, #mensaje3, #mensaje4, #mensaje5, #mensaje6 {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #5b4f47fe, #ddc1a7);
    border-radius: 3%;
    color: white;
    padding: 100px 50px;
    z-index: 1000; /
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: #5b4f47;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.close-btn:hover {
    background-color: #5b4f47;
    color: white;
}

#logosFooter {

    display:flex;
    gap:1rem;
    padding-right: 5rem;
    
    }

#logosFooter img {
    height: 2rem;
    width: 2rem;
    transition: transform .2s;
    cursor: pointer;
}

#logosFooter img:hover {
    transform: scale(1.2)

}

@media (max-width: 768px) {
    footer{
        flex-direction: column;
        justify-content: center; 
    }
    footer p{
        padding-left: 0;
        
    }
    #logosFooter{
        padding-right: 0;
    }
   
}