/* PALETA DE COLORES 
.color1 { #5b4f47 };
.color2 { #745e4d };
.color3 { #bd9479 };
.color4 { #ddc1a7 };
.color5 { #f8f7f4 };
.color6 { #ffffff };*/


* {

    padding:0px;
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #5b4f47;
    color: white;
    height: 10vh;
}

.logo{

    display: flex;
    justify-content: center;
    width: 30%;
}


.logo img {
    width: 9rem;
    height: 5rem;

}
nav {
    display:flex;
    justify-content:space-evenly;
    width: 70%;
}

header a{

    color:white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Nick */

header a:hover{
    color: #ddc1a7; 
    margin-top: -5px;
}

.burger {
    width: 35px;
    display: none;
}

@media (max-width: 768px) {
    .burger {
        display: block;
        position: absolute;
        right: 20px;
        color: white;
    }

    #nav {
        position: fixed;
        right: -800px;
        flex-direction: column;
        top: 80px;
        transition: all 0.5s;
        gap: 30px;
        padding: 50px;
        border-radius: 10px;
        z-index: 5;
    }

    #nav.activo {
        right: 0;
        background-color: #5b4f47;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #5b4f47;
        color: white;
        height: 10vh;
        width: 100%;
        padding: 0 20px;
        
    }

    header a:hover{
        transform: scale(1.1);
        text-decoration: underline;
        margin: 0;
    }

    .logo {
        width: auto;
    }
}

/* Nick */

#contenedorTarjetas{

    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    
}

#tarjetasLeft {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:100px;
    

    
}

#tarjetasRight {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:100px;

}

.tarjetas {
    width: 50%;
    height: 50%;
    border: 2px solid black;
    border-radius: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap:1rem;
    transition: transform .2s;
    box-shadow: 3px 3px 10px 2px;
}

.tarjetas:hover {

    transform: scale(1.1)
}


main {

 
    background-color:#f8f7f4 ;
    display: flex;
    justify-content: center;
}

main h1 {

   text-align: center;
   margin-bottom:3rem ;
  padding-top: 3rem;

}


main img {

    height: 450px;
    width: 100%;
    border-radius: 15px;

}

main button{

    padding:20px;
    background-color: #ddc1a7;
    
}

#logosFooter {

display:flex;
gap:1rem;
padding-right: 5rem;

}



#logosFooter img {
    height: 2rem;
    width: 2rem;
    transition: transform .2s;
}

#logosFooter img:hover {
    transform: scale(1.2)

}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
   height: 10vh;
    width: 100%;
    background-color: #ddc1a7;
}

footer p {

    padding-left: 5rem;
}

#parrafoOculto1, #parrafoOculto2, #parrafoOculto3, #parrafoOculto4 {color:green;}
